*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');




/* VIEW DEVAULT ADALAH
DEKSTOP VIEW */




/* NAVBAR */


/* HEADER */



/* TENTANG */





/* JUMLAH MEMBER */

.container_members {
background-color: #393e46;
color: #ffffff;
font-family: "Poppins", sans-serif;
border-radius: 5px;
}
.content_members {
display: flex;
justify-content: center;
padding: 50px;
}
.members {
text-align: center;
margin-left: 50px;
margin-right: 50px;
}




/* KEGIATAN */


/* MEMBERSHIP */



/* FOOTER */







/* PHONE VIEW MIN-WIDTH= 320PX */
@media screen and (max-width: 767px){

/* NAVBAR */





/* HEADER */





/* TENTANG */
  



/* JUMLAH MEMBER*/




/* KEGIATAN */

  

/* MEMBERSHIP */


/* FOOTER */






}


/* TABLET VIEW */
@media screen and (max-width: 1024px){

/* NAVBAR */


/* HEADER */

  


/* TENTANG */




/* JUMLAH MEMBER */



/* KEGIATAN */

/* MEMBERSHIP */

/* FOOTER */




}
