*,
html,
body {
    margin :0;
    padding : 0;
   box-sizing: border-box;
}
/* IMPORT */

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');





/* VIEW DEVAULT ADALAH
DEKSTOP VIEW */





/* NAVBAR */





/* HEADER */





/* TENTANG */





/* JUMLAH MEMBER */





/* KEGIATAN */





/* MEMBERSHIP */
.membership{
    background-color : #393e46;

    position : absolute;
    width : 1728px;
    height : 1263px;
    top: 4768px;
    color : #f2f2f2;
    font-family: 'Poppins', sans-serif;
}

.intro,
.join-member {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.membership .intro h1 {
    font-weight: 700;
}

.membership .intro p {
    font-weight: 400;
}

.membership .intro ol li {
    color : #f2f2f2;
}

.btn {
    background-color: #f2f2f2;
    border : 1px solid #393e46;
    color : #f2f2f2;
    text-decoration: none;
    padding : 4px;
    margin: 4px;
   
}

.btn a {
    color : black;
    text-decoration: none;
}




/* FOOTER */







/* PHONE VIEW MIN-WIDTH= 320PX */
@media screen and (max-width: 767px){

/* NAVBAR */





/* HEADER */





/* TENTANG */





/* JUMLAH MEMBER*/





/* KEGIATAN */





/* FOOTER */






}


/* TABLET VIEW */
@media screen and (max-width: 1024px){

/* NAVBAR */


/* HEADER */



/* KOMUNITAS */



/* ANGGOTA */



/* PROJECT */



/* FOOTER */




}