
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}


/* IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;600&display=swap");


/* VIEW DEVAULT ADALAH
DEKSTOP VIEW */


/* NAVBAR */


/* HEADER */




/* TENTANG */





/* JUMLAH MEMBER */





/* KEGIATAN */
ul,
li {
  list-style-type: none;
}
#kegiatan {
  max-width: 1400px;
  width: 100%;
  padding: 70px 0;
  font-family: "Poppins", sans-serif;
}
.kegiatan-container {
  max-width: 1000px;
  width: 100%;
  max-height: 80vh;
  margin-inline: auto;
}
.kegiatan-container .kegiatan-judul {
  margin-bottom: 30px;
  font-size: 56px;
}
.kegiatan-img {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
}
.kegiatan-dot-container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.kegiatan-dot {
  display: flex;
}
.kegiatan-dot-items {
  margin-inline: 10px;
  cursor: pointer;
}
.default {
  color: grey;
}
.active-dot {
  color: grey;
}
.inactive-dot {
  color: black;
}
.kegiatan-container .kegiatan-desc {
  font-size: 24px;
  margin-block: 20px;
  text-align: center;
}


/* MEMBERSHIP */



/* MEMBERSHIP */

/* FOOTER */

/* PHONE VIEW MIN-WIDTH= 320PX */
@media screen and (max-width: 767px) {
/* NAVBAR */





/* HEADER */





/* TENTANG */




/* JUMLAH MEMBER*/




/* KEGIATAN */

  

/* MEMBERSHIP */


/* FOOTER *

/* TABLET VIEW */
@media screen and (max-width: 1024px){

/* NAVBAR */


/* HEADER */

  


/* TENTANG */




/* JUMLAH MEMBER */



/* KEGIATAN */

/* MEMBERSHIP */

/* FOOTER */


}
