/* IMPORT */





/* VIEW DEVAULT ADALAH
DEKSTOP VIEW */





/* NAVBAR */





/* HEADER */





/* TENTANG */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#tentang {
  padding: 50px;

  font-family: 'Poppins';
}

#tentang>p {

  color: #000000;
}


#tentang>ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}




/* JUMLAH MEMBER */





/* KEGIATAN */





/* FOOTER */







/* PHONE VIEW MIN-WIDTH= 320PX */
@media screen and (max-width: 767px){

/* NAVBAR */



h1	z

/* HEADER */





/* TENTANG */





/* JUMLAH MEMBER*/





/* KEGIATAN */





/* FOOTER */






}


/* TABLET VIEW */
@media screen and (max-width: 1024px){

/* NAVBAR */


/* HEADER */



/* KOMUNITAS */



/* ANGGOTA */



/* PROJECT */



/* FOOTER */




}