/* IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');




/* VIEW DEVAULT ADALAH
DEKSTOP VIEW */





/* NAVBAR */
nav {
    display: flex;
    background-color: transparent;
    /* ubah bg nya jika mau kelihatan */
    justify-content: space-between;
    padding: 1rem;
    font-size: 1.2em;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
nav ul {
    display: flex;
    width: 40%;
    justify-content: space-around;
    /* gap: 10px; */
    list-style: none;
}
nav .logo img {
    width: 150px;
    margin-left: 20px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
nav ul li button {
    background-color: aqua;
    color: black;
    border-radius: 20px;
    padding: 4px 12px ;
    border-style: none;
    font-size: 0.8em;
    font-family: 'Poppins', sans-serif;
    margin-right: 20px;
}
nav ul li:hover, nav .logo {
    opacity: 80%;
    cursor: pointer;
}

/* HEADER */





/* TENTANG */





/* JUMLAH MEMBER */





/* KEGIATAN */


/* MEMBERSHIP */


/* MEMBERSHIP */




/* FOOTER */







/* PHONE VIEW MIN-WIDTH= 320PX */
@media screen and (max-width: 767px){

/* NAVBAR */





/* HEADER */





/* TENTANG */





/* JUMLAH MEMBER*/





/* KEGIATAN */

  

/* MEMBERSHIP */


/* FOOTER */






}


/* TABLET VIEW */
@media screen and (max-width: 1024px){

/* NAVBAR */


/* HEADER */



/* TENTANG */




/* JUMLAH MEMBER */



/* KEGIATAN */

/* MEMBERSHIP */

/* FOOTER */




}
