*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body{
  background-color: #e9e9e9
}
/* IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;600&display=swap");
/* VIEW DEVAULT ADALAH
DEKSTOP VIEW */





/* NAVBAR */
nav {
  z-index: 100;
  position: absolute;
  display: flex;
  background-color: transparent;
  /* ubah bg nya jika mau kelihatan */
  justify-content: space-between;
  padding: 1rem;
  font-size: 1.2em;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}
nav ul {
  position: absolute;
  display: flex;
  width: 100%;
  gap: 20px;
  right:  -900px;
  /* gap: 10px; */
  list-style: none;
}
nav .logo img {
  width: 150px;
  margin-left: 20px;
  opacity: 100;
}
nav ul li a {
  color: white;
  text-decoration: none;
}
nav ul li button {
  background-color: aqua;
  color: black;
  border-radius: 20px;
  padding: 4px 12px ;
  border-style: none;
  font-size: 0.8em;
  font-family: 'Poppins', sans-serif;
  margin-right: 20px;
}
nav ul li:hover, nav .logo {
  opacity: 80%;
  cursor: pointer;
}


/* HEADER */
header{
  background: url(../assets/bgheader.webp);
  background-position: center;
  height: 100vh;
}
.darkfilter {
  background-color:black;
  
  height: 100vh;
  opacity: 60%;
}

.textHeader{
  color: white;
  position: relative;
  bottom: 400px;
  left: 50px;
  width: 750px;
  font-family: 'Poppins', sans-serif;
  opacity: 100%;
}
.iconHeader{
  display: flex;
  width: auto;
  gap: 20px;
  margin-top: 15px;
}
.h1Header{
  font-size: 36px;
  font-weight: bolder;
}
.pHeader{
  width: 440px;
  font-size: 20px;
}
.button{
  border-radius: 20px;
  width: 120px;
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid #61C4F9;
  color: white;
}
#inswebdev {
  color: white;
  font-size: 40px;
}
#githubwebdev{
  color: white;
  font-size: 40px;
}




.transparancy{
  height: 200px;
  width: 100%;
  background: linear-gradient(to top, rgb(233,233,233), rgba(0,0,0,0));
  margin-top: -200px;
}






/* TENTANG */
#tentang {
  padding: 50px 200px;
  font-family: 'Poppins', sans-serif;
}
#tentang>h1{
  font-size: 40px;
}
#tentang>p {
  font-size: 20px;
  color: #000000;
}
#tentang>ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
}


/* JUMLAH MEMBER */
.container_members {
  background-color: #393e46;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  }
  .content_members {
  display: flex;
  justify-content: center;
  padding: 50px 100px;
  }
  .members {
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
  }
  .content_members .members h1{
    font-size: 1.5rem;
  }
  .content_members .members h3{
    font-size: 2rem;
    color: #00aeff;
  }



/* KEGIATAN */
.kegiatan-dot,
.kegiatan-dot-items {
  list-style-type: none;
}
#kegiatan {
  max-width: 1400px;
  width: 100%;
  padding: 100px 0;
  font-family: "Poppins", sans-serif;
}
.kegiatan-container {
  max-width: 1000px;
  width: 100%;
  max-height: 80vh;
  margin-inline: auto;
}
.kegiatan-container .kegiatan-judul {
  margin-bottom: 10px;
  font-size: 40px;
  margin-left: 40px;
}

.container-image img {
  max-width: 800px;
  max-height: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  display: block;
  margin: 0 auto;
}
.kegiatan-dot-container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.kegiatan-dot {
  display: flex;
}
.kegiatan-dot-items {
  margin-inline: 10px;
  cursor: pointer;
}
.default {
  color: #61C4F9;
}
.active-dot {
  color: #61C4F9;
}
.inactive-dot {
  color: black;
}
.kegiatan-container .kegiatan-desc {
  font-size: 20px;
  margin:20px auto 40px auto;
  text-align: center;
  width: 100%;
  display: block;
}



/* MEMBERSHIP */
.membership{
  background-color : #393e46;
  margin-top: 20px;
  width : 100%;
  height : 100vh;
  color : #f2f2f2;
  font-family: 'Poppins', sans-serif;
  padding: 30px 200px;
}
.intro{
  text-align: left;
  margin-bottom: 30px;
}

.membership .isi p {
  font-size: 20px;
  font-weight: 100;
}
.membership  .isi .list ul li {
  color : #f2f2f2;
  list-style-type: upper-greek;
  font-size: 20px;
}
.catatan{
  margin: 35px 0px;
  font-size: 20px;
}
.join-member{
  font-size: 23px;
}
.join-member a {
  color : #00aeff;
}



/* FOOTER */
footer{
  background-color: #e9e9e9;
  padding: 15px 0px;
  width: 100%;
  text-align: center;
  font-family: 'poppins', sans-serif;
  line-height: 25px;
  color: #000000;
}
h1{
  font-size: 2rem;
}
p{
  font-size: 1rem;
}





nav label #menu,
nav label #close{
  color: white;
  font-size: 30px;
  cursor: pointer;
  margin-left: 17rem;
  display: none;
  z-index: 100;
}
nav #check{
  display: none;
}


/* PHONE VIEW MIN-WIDTH= 320PX */
@media screen and (max-width: 767px) and (min-width: 300px) {
/* NAVBAR */
nav label #menu,
nav label #close{
  position: absolute;
  left: 3rem;
}
nav label #menu {
  display: block;
}
nav ul {
  display: inline-block;
  border-radius: 30px;
  position: fixed;
  height: 43vh;
  top: 110px;
  left: -600px;
  background-color: #393e46;
  transition: 1s;
}
nav ul li {
  text-align: left;
  display: block;
  margin: 0px 0px 0px 210px;
  line-height: 50px;
  padding:10px 20px;
}
nav ul li button{
  padding: 5px 30px;
}
nav ul li:hover {
  color: aqua;
}
nav #check:checked ~ ul {
  left: -220px;
}
nav #check:checked ~ label #close {
  display: block;
}
nav #check:checked ~ label #menu {
  display: none;
}




/* HEADER */
header{
  width: 100%;
}
.textHeader{
  width: 90%;
  margin-left: -25px;
}
.textHeader h1{
  font-size: 2rem;
  line-height: 30px;
}
.textHeader p{
  font-size: 1rem;
  line-height: 20px;
  width: 100%;
}




/* TENTANG */
#tentang{
  padding: 30px 30px;
  width: 100%;
}
#tentang h1{
  font-size: 2rem;
}
#tentang p{
  font-size: 1rem;
}
#tentang h2{
  font-size: 1.6rem;
}
#tentang ul li{
  font-size: 1rem;
}




/* JUMLAH MEMBER*/
.content_members{
  flex-direction: column;
}
.members{
  padding: 20px 0px;
}




/* KEGIATAN */
#kegiatan{
  padding: 18px 0px;
}
#kegiatan .kegiatan-container h1{
  font-size: 2rem;
  margin-left: 10px;
}
.container-image img{
  max-width: 350px;
}
.kegiatan-desc{
  width: 80%;
  position: relative;
  font-size: 0.1rem;
  padding: 5px;
}

.kegiatan-desc p{
  line-height: 20px;
  left: 50px;
  position: absolute;
}

/* MEMBERSHIP */
.membership{
  padding: 50px 30px;
  height: auto;
}
.membership .intro h1{
  font-size: 2rem;
}
.membership .isi p,
.catatan p{
  font-size: 1rem;
}
.membership .isi .list ul li{
  font-size: 1rem;
}
.membership .isi .join-member h3,
.membership .isi .join-member a{
  font-size: 1.1rem;
}

/* FOOTER */
footer h1{
  font-size: 1.3rem;
}





}


/* TABLET VIEW MIN WIDTH(767)*/
@media screen and (max-width: 1024px) and (min-width: 767px) {

/* NAVBAR */
nav ul{
  right: -350px;
}

/* HEADER */
.textHeader{
  bottom: 300px;
}



/* TENTANG */
#tentang{
  padding: 20px 110px;
}


/* JUMLAH MEMBER */
.content_members .members h1{
  line-height: 20px;
}


/* KEGIATAN */
.kegiatan-container .kegiatan-judul{
  margin-left: 70px;
}
#kegiatan{
  padding: 5px 110px;
}

/* MEMBERSHIP */
.membership{
  padding: 80px 100px;
  height: auto;
}


/* FOOTER */




}
