/* IMPORT */





/* VIEW DEVAULT ADALAH
DEKSTOP VIEW */





/* NAVBAR */





/* HEADER */





/* TENTANG */





/* JUMLAH MEMBER */





/* KEGIATAN */


/* MEMBERSHIP */


/* FOOTER */







/* PHONE VIEW MIN-WIDTH= 320PX */
@media screen and (max-width: 767px){

/* NAVBAR */





/* HEADER */





/* TENTANG */





/* JUMLAH MEMBER*/





/* KEGIATAN */

  
/* MEMBERSHIP */  




/* FOOTER */






}


/* TABLET VIEW */
@media screen and (max-width: 1024px){

/* NAVBAR */


/* HEADER */



/* TENTANG */



/* JUMLAH MEMBER */



/* KEGIATAN */



/* FOOTER */




}
