*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');




/* VIEW DEVAULT ADALAH
DEKSTOP VIEW */





/* NAVBAR */





/* HEADER */





/* TENTANG */
#tentang {
  padding: 50px;

  font-family: 'Poppins', sans-serif;
}

#tentang>p {

  color: #000000;
}


#tentang>ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}




/* JUMLAH MEMBER */





/* KEGIATAN */


/* MEMBERSHIP */


/* FOOTER */







/* PHONE VIEW MIN-WIDTH= 320PX */
@media screen and (max-width: 767px){

/* NAVBAR */





/* HEADER */





/* TENTANG */
  



/* JUMLAH MEMBER*/





/* KEGIATAN */


/* MEMBERSHIP */


/* FOOTER */






}


/* TABLET VIEW */
@media screen and (max-width: 1024px){

/* NAVBAR */


/* HEADER */



/* TENTANG */



/* JUMLAH MEMBER */



/* KEGIATAN */

/* MEMBERSHIP */

/* FOOTER */




}
